Source: vncdotool
Section: utils
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Sudip Mukherjee <sudipm.mukherjee@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 python3-setuptools,
 python3-all,
 python3-sphinx
Standards-Version: 4.6.2
Homepage: https://github.com/sibson/vncdotool
Vcs-Browser: https://salsa.debian.org/python-team/packages/vncdotool
Vcs-Git: https://salsa.debian.org/python-team/packages/vncdotool.git

Package: vncdotool
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
Description: Automate interactions with virtual machines or hardware
 vncdotool is a command line VNC client. It can be useful to
 automating interactions with virtual machines or hardware devices
 that are otherwise difficult to control.
 .
 To use vncdotool you will need a VNC server.
